body {
    background-color: #EEF9BF;
}

.header {
    color: #75B79E;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    margin: 40px auto;
    line-height: 42px;
}

.line {
    display: flex;
    margin: 34px auto;
    justify-content: center;
}

.title p {
    font-size: 56px;
}

.front-face {
    width: 100px;
    height: 100px;
    margin: 25px 10px;
}

.card {
    width: 117px;
    height: 148px;
    background-color: #99cea8;
    margin: 34px;
    border-radius: 9px;
}

@media (max-width: 980px){

    .header {
        color: #75B79E;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 36px;
        margin: 40px 12px;
        line-height: 42px;
    }
    
    .front-face {
        width: 100px;
        height: 100px;
        margin: 25px 10px;
    }  

}